.activity-inner {
  margin-top: min((0.29167 * 100vw), 420px);
  position: relative;
}
.activity-header {
  display: grid;
  grid-template:
    "info info" auto
    "title title" auto
    "client tag" auto
    "link tag" 1fr/1fr auto;
  margin: 0 auto min((0.04063 * 100vw), 58.5px);
  width: min((0.71389 * 100vw), 1028px);
  .activity-info {
    align-items: center;
    display: flex;
    gap: min((0.00833 * 100vw), 12px);
    grid-area: info;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: min((0.00417 * 100vw), 6px) min((0.00417 * 100vw), 6px);
      li {
        background: #fff;
        border: 1px solid #c4c4c4;
        border-radius: 100vw;
        display: block;
        flex: 0 0 auto;
        font-size: min((0.00972 * 100vw), 14px);
        list-style: none;
        padding: min((0.00139 * 100vw), 2px) min((0.00903 * 100vw), 13px);
      }
    }
  }
  .activity-title {
    font-size: min((0.025 * 100vw), 36px);
    font-weight: 700;
    grid-area: title;
    letter-spacing: 0.03em;
    margin: min((0.02028 * 100vw), 28px) 0 0;
    padding: 0 0 min((0.01597 * 100vw), 23px);
    position: relative;
    &::after {
      background: url(/line-dot-horizontal_3x10_gray.png) 0 0 / contain repeat-x;
      bottom: 0;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: calc(100% + 3px);
    }
  }
}
.activity-zoom-in {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  .zoom-in-container {
    width: min((0.71389 * 100vw), 1028px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    border-radius: 12px;
    transform: scale(1);
    transition: 1s ease-out;
    max-height: 90vh;
    max-width: 90vw;
  }
}
.btn {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  // filter: brightness(0.5);
  &:hover {
    background-color: #383838;
  }
}
.close {
  position: absolute;
  top: 2vh;
  right: 2vw;
  box-shadow: 0 0 20px -5px white;
}
.right {
  position: absolute;
  top: 50%;
  right: 3%;
}
.left {
  position: absolute;
  top: 50%;
  left: 3%;
}
@media (max-width: 767px) {
  .activity-header {
    margin: 0 3vw;
    .activity-info {
      ul {
        li {
          font-size: 3vw;
          padding: 0.5vw 2vw;
        }
      }
    }
    .activity-title {
      font-size: 5vw;
    }
  }
}
