@mixin btn($right, $top) {
  position: fixed;
  width: 60px;
  height: 60px;
  top: $top;
  right: $right;
  transition-duration: 0.5s;
  z-index: 90;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: #3c3c3c;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: #3c3c3c;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: #3c3c3c;
  content: "";
  top: $top;
}
.btn1 {
  @include btn(5vw, 4vw);

  .icon-left {
    @include icon(2px, 15px);
    left: 0px;

    &:before {
      @include icon-before(2px, 15px, -10px);
    }

    &:after {
      @include icon-after(2px, 15px, 10px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .icon-right {
    @include icon(2px, 15px);
    left: 15px;

    &:before {
      @include icon-before(2px, 15px, -10px);
    }

    &:after {
      @include icon-after(2px, 15px, 10px);
    }
  }

  &.btn-open {
    .icon-left {
      transition-duration: 0.5s;
      background: transparent;

      &:before {
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }

    .icon-right {
      transition-duration: 0.5s;
      background: transparent;

      &:before {
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }

      &:after {
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.l-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 11vh;
}
.nav-link {
  font-size: 4.5vw;
  margin: 6vw 0;
  color: #3c3c3c;
  position: relative;
  &::before {
    background: url(/line-dot-horizontal_3x10_gray.png) 0 0 / contain repeat-x;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    margin-top: 12vw;
    width: 100%;
  }
}
.nav-contact {
  border: 1px solid #3c3c3c;
  width: 23vw;
  height: 23vw;
  padding: 11vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 3.2vw;
  font-weight: 600;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2vw;
  position: absolute;
  bottom: 6vh;
  right: 4vw;
}
@media (max-width: 767px) {
  .l-header {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .nav-open {
      opacity: 1;
      pointer-events: all;
    }
  }
  .l-nav {
    background: #f7f6f1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0;
    transition: 0.4s ease;
    padding: 6vw;
    pointer-events: none;
    .icon {
      svg {
        width: 7vw;
      }
    }
  }
}
