header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 4rem;
  position: fixed;
  font-weight: bold;
  font-size: min(1.781vw, 16px);
  color: #444141;
  z-index: 10;
  .header {
    top: min((0.07167 * 100vw), 60px);
    right: min((0.08167 * 100vw), 240px);
    position: fixed;
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2.5rem;
      li {
        cursor: pointer;
        transition: ease 0.3s;
        &:hover {
          transform: translateY(-2px);
          filter: brightness(2);
        }
      }
      button {
        padding-top: min((0.00972 * 100vw), 14px);
        padding-right: min((0.0125 * 100vw), 18px);
        padding-bottom: min((0.00972 * 100vw), 14px);
        padding-left: min((0.0125 * 100vw), 18px);
        border-radius: 25px;
        border: 1px solid #444141;
        cursor: pointer;
        font-size: min((0.01111 * 100vw), 16px);
        background-color: inherit;
        transition: ease 0.3s;
        &:hover {
          background-color: #3b3b40;
          color: #dbdad0;
        }
      }
    }
  }
  .miss {
    opacity: 0;
    translate: 0 -40px;
    transition: 0.8s ease;
  }
  .show {
    opacity: 1;
    translate: 0 0;
    transition: 0.8s ease;
  }
  img {
    width: min(11.278vw, 220px);
    top: min((0.05722 * 100vw), 68px);
    position: fixed;
    left: min((0.05556 * 100vw), 80px);
  }
}
.loading-t {
  width: 100%;
  height: 100dvh;
  background-color: var(--basic-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: home-loading 6s ease-in-out;
  opacity: 0;
  pointer-events: none;
  img {
    width: 15%;
  }
}
@keyframes home-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-bg {
  width: 100%;
  height: 100dvh;
  background-color: var(--basic-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  img {
    width: 15%;
  }
}
@media (max-width: 767px) {
  header {
    img {
      width: 23.54vw;
    }
    .miss {
      opacity: 1;
      transition: none;
      translate: 0 0;
    }
  }
  .header {
    visibility: hidden;
  }
  .loading-bg {
    img {
      width: 50%;
    }
  }
  .loading-t {
    img {
      width: 50%;
    }
  }
}
