.homepage-header {
  background-image: url("/wings.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: min(19.028vw, 274px) auto min(9.028vw, 130px);
  display: flex;
  //   height: min(12.5vw, 180px);
  height: auto;
  justify-content: flex-end;
  position: relative;
}
.homepage-contents {
  position: relative;
  transform: translateZ(0);
  width: 100%;
  z-index: 5;
}
.homepage-member {
  border-radius: 0 140px 0 0;
  background: #4f4f4f;
  color: #fff;
  overflow: hidden;
  padding: min((0.11389 * 100vw), 164px) 0 min((0.11111 * 100vw), 160px);
  position: relative;
  width: 100%;
  z-index: 1;
  .homepage-member-nav {
    margin: min((0.03611 * 100vw), 52px) 0 0 auto;
    width: min((0.15556 * 100vw), 224px);
  }
}
.m-heading {
  display: flex;
  font-weight: 500;
  gap: min((0.01944 * 100vw), 28px);
  width: -moz-fit-content;
  width: fit-content;
  .en {
    flex: 0 0 auto;
    font-size: min((0.01181 * 100vw), 17px);
    position: relative;
    text-transform: uppercase;
  }
  .ch {
    flex: 0 0 auto;
    font-size: min((0.01111 * 100vw), 16px);
  }
}
.homepage-member-header {
  display: flex;
  gap: min((0.20833 * 100vw), 300px);
  justify-content: space-between;
  margin-top: min((0.0125 * 100vw), 18px);
  .homepage-member-lead {
    flex: 0 0 auto;
    font-size: min((0.025 * 100vw), 36px);
    line-height: 1.6666666667;
    // letter-spacing: 2px;
  }
  .homepage-member-body {
    margin-top: min((0.00694 * 100vw), 10px);
  }
}
.homepage-photo-carousel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: min((0.02917 * 100vw), 42px);
  margin: min((0.02681 * 100vw), 38.6px) 0 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  z-index: 10;
  .homepage-photo-carousel {
    display: flex;
    gap: min((0.02222 * 100vw), 32px);
    .list {
      display: flex;
      gap: min((0.02222 * 100vw), 32px);
      align-items: flex-end;
      flex: 0 0 auto;
      justify-content: center;
      position: relative;
      .item {
        flex: 0 0 auto;
        overflow: hidden;
        img {
          border-radius: 8px;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          width: 100%;
          object-position: top;
        }
      }
      :first-of-type {
        height: min((0.16806 * 100vw), 242px);
        width: min((0.29722 * 100vw), 428px);
      }
      :nth-of-type(2) {
        height: min((0.14375 * 100vw), 207px);
        width: min((0.23056 * 100vw), 332px);
      }
      :nth-of-type(3) {
        height: min((0.24861 * 100vw), 358px);
        width: min((0.40556 * 100vw), 584px);
      }
      :nth-of-type(4) {
        height: min((0.175 * 100vw), 252px);
        width: min((0.28194 * 100vw), 406px);
      }
      :nth-of-type(5) {
        height: min((0.10417 * 100vw), 150px);
        width: min((0.19167 * 100vw), 276px);
      }
    }
    .list-1 {
      align-items: flex-end;
      animation: image-carousel-reverse 60s linear infinite;
    }
    .list-2 {
      align-items: flex-start;
      animation: image-carousel 60s linear infinite;
    }
  }
}
@keyframes image-carousel {
  0% {
    translate: -101.5% 0;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes image-carousel-reverse {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -101.5% 0;
  }
}
.homepage-photo {
  background: var(--basic-bg);
  padding: 0 0 min((0.09722 * 100vw), 140px);
  position: relative;
  z-index: 0;
  margin: 20vw 0 10vw;
  .homepage-photo-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }
  .homepage-photo-body {
    flex: 0 1 auto;
    width: min((0.64028 * 100vw), 922px);
    padding: min((0.16236 * 100vw), 277px) 0 0;
    .hover-active {
      &::before {
        width: 110vw;
      }
      @media (min-width: 767px) {
        .homepage-photo-list-item-body {
          opacity: 1;
          position: static;
          transition: 1s ease;
        }
        .homepage-photo-list-figure {
          translate: 0 0;
          opacity: 1;
        }
      }
    }
  }
  .homepage-photo-list-item {
    cursor: pointer;
    position: relative;
    margin-left: min((0.29444 * 100vw), 424px);
    padding: min((0.02688 * 100vw), 38.7px) 0 min((0.01528 * 100vw), 22px);
    &::before {
      background: hsla(0, 0%, 44%, 0.2);
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
    &:nth-child(4) {
      &::after {
        background: hsla(0, 0%, 44%, 0.2);
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        transition: 0.6s ease;
      }
    }
  }
  .homepage-photo-list-item-title {
    position: relative;
  }
  .homepage-photo-list-item-body {
    padding-top: min((0.01806 * 100vw), 26px);
    position: absolute;
    opacity: 0;
    line-height: 2.5vw;
  }
  .homepage-photo-header {
    flex: 0 0 auto;
    padding: min((0.03333 * 100vw), 48px) min((0.01736 * 100vw), 25px) 0 0;
    position: relative;
  }
  .homepage-photo-sticky {
    position: sticky;
    top: 15vw;
  }
  .homepage-photo-title {
    width: -moz-fit-content;
    width: fit-content;
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: column;
  }
  .homepage-photo-lead {
    font-size: min((0.025 * 100vw), 36px);
    padding-right: min((0.04167 * 100vw), 60px);
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column-reverse;
  }
  .homepage-photo-nav {
    margin-top: 5vw;
    &:hover {
      .m-btn {
        background-color: #3b3b40;
        color: #dbdad0;
        .icon path {
          fill: #dbdad0;
        }
      }
    }
  }
  .homepage-photo-list-figure {
    position: absolute;
    width: min((0.20139 * 100vw), 290px);
    left: max((-0.29167 * 100vw), -450px);
    border-radius: 12px;
    opacity: 0;
    translate: 0 20px;
    transition: 1s ease;
    bottom: min(-54vw, -280px);
    img {
      width: 100%;
      border-radius: 12px;
      position: relative;
      object-fit: cover;
    }
    .img1 {
      bottom: 32vw;
      position: relative;
      aspect-ratio: 320/418;
      right: 3vw;
      z-index: 10;
      rotate: -4deg;
      pointer-events: none;
    }
    .img2 {
      bottom: 38vw;
      aspect-ratio: 290/389;
      left: 4vw;
      rotate: 7deg;
      pointer-events: none;
    }
  }
}
.m-btn-white {
  &:hover {
    background-color: #fff;
    color: #3c3c3c;
    border-color: #3c3c3c;
    path {
      fill: #3c3c3c;
    }
  }
}
@media (max-width: 767px) {
  .homepage-header {
    justify-content: center;
    margin-top: 34vw;
  }
  .homepage-photo {
    .homepage-photo-inner {
      display: block;
      padding: 0 0 11vw;
      width: 90%;
    }
    .homepage-photo-body {
      width: 100%;
    }
    .homepage-photo-title {
      writing-mode: horizontal-tb;
      flex-direction: column-reverse;
    }
    .homepage-photo-lead {
      font-size: 6.4vw;
      margin-top: 8vw;
      flex-direction: column;
    }
    .homepage-photo-nav {
      width: 53.3333vw;
      margin-top: 9.6vw;
    }
    .homepage-photo-list-item {
      display: grid;
      grid-template:
        "label label icon"
        "figure body body";
      gap: 4.5vw;
      grid-template-columns: 2fr 1fr 1fr;
      margin-left: 0;
    }
    .homepage-photo-list-item-title {
      font-size: 5.5vw;
      grid-area: label;
      margin-top: 5vw;
    }
    .homepage-photo-list-item-body {
      grid-area: body;
      opacity: 1;
      font-size: 4vw;
      line-height: 1.8;
    }
    .homepage-photo-list-figure {
      grid-area: figure;
      position: relative;
      width: 100%;
      left: 0;
      bottom: 0;
      transition: none;
      margin-bottom: 16vw;
      opacity: 1;
      .img1 {
        bottom: 0;
        right: 0;
        rotate: 0deg;
      }
      .img2 {
        display: none;
      }
    }
  }
  .homepage-member-header {
    flex-direction: column;
    gap: 0;
    .homepage-member-lead {
      font-weight: 600;
      font-size: 6.4vw;
      line-height: 1.8;
      margin: 11vw 0;
      letter-spacing: 0.08em;
      span {
        display: block;
      }
    }
  }
  .homepage-member-body {
    p {
      font-size: 4.2666vw;
      line-height: 2;
    }
    .homepage-member-nav {
      margin: 8vw 0px;
      width: 48vw;
    }
    .m-btn-white {
      background-color: #fff;
      color: #3c3c3c;
      border-color: #3c3c3c;
      .icon {
        path {
          fill: #3c3c3c;
        }
      }
    }
  }
  .homepage-photo-carousel-container {
    gap: 7vw;
    .homepage-photo-carousel {
      .list {
        :first-of-type {
          height: min((0.16806 * 2 * 100vw), 242px);
          width: min((0.29722 * 2 * 100vw), 428px);
        }
        :nth-of-type(2) {
          height: min((0.14375 * 2 * 100vw), 207px);
          width: min((0.23056 * 2 * 100vw), 332px);
        }
        :nth-of-type(3) {
          height: min((0.24861 * 2 * 100vw), 358px);
          width: min((0.40556 * 2 * 100vw), 584px);
        }
        :nth-of-type(4) {
          height: min((0.175 * 2 * 100vw), 252px);
          width: min((0.28194 * 2 * 100vw), 406px);
        }
        :nth-of-type(5) {
          height: min((0.10417 * 2 * 100vw), 150px);
          width: min((0.19167 * 2 * 100vw), 276px);
        }
      }
    }
  }
  .m-heading {
    gap: 8vw;
    .en {
      font-size: 4.5333vw;
      letter-spacing: 0.08em;
    }
    .ch {
      font-size: 4.2666vw;
    }
  }
  .m-btn .icon path {
    fill: #fff;
  }
}
