* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Serif TC", serif;
  background-color: #f7f6f1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
.header-block {
  width: 100%;
  height: 8rem;
}
.m-inner {
  margin: 0 auto;
  width: min((0.86111 * 100vw), 1240px);
}
.heading-2 {
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.15em;
  padding-right: min((0.02306 * 100vw), 32px);
  display: flex;
  font-size: min((0.025 * 100vw), 36px);
}
.heading-2 .en {
  font-size: min((0.01389 * 100vw), 20px);
  font-weight: 500;
  left: 100%;
  letter-spacing: 0.1em;
  line-height: 1.8;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform-origin: left top;
  white-space: nowrap;
}
.heading-2 .ch > :before {
  background: url(/line-dot-vertical_3x10.png) 0 0 / contain repeat-y;
  bottom: 0;
  content: "";
  display: block;
  position: relative;
  right: 0;
  top: 0;
  translate: min((0.00972 * 100vw), 14px);
  width: 3px;
}
